.external-links {
width: 100%;
display: block;
grid-column: 1 / -1;
box-sizing: border-box;

.label {
  cursor: pointer;
}
.links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--default_gap);
    width: 100%;
  }
}

.external-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1rem;
  border: 1px solid var(--color_primary);
  border-radius: 10px;
  text-decoration: none;
  background-color: #f8f9fa;
  text-align: center;
  min-height: 50px;

  &:hover {
    background-color: var(--color_primary);
    color: white;
  }
}

mat-icon {
  transition: transform 0.3s ease-in-out;
  display: inline-block;

  &.rotated {
    transform: rotate(90deg);
  }
}
