:host {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


img {
    width: 100%;
    height: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}
