.overlay {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  padding: 2rem;
  min-height: 100%;
  z-index: 100;
  box-sizing: border-box;
  background: white;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
