:host {
  display: block;
  height: 100%;
  min-width: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  .card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: var(--default_padding);
    gap: var(--default_gap);
    color: var(--color_primary);
    background: var(--color_secondary_light);

    .card-title {
      font-size: large;
      font-weight: bold;
    }

    .card-texts {
      display: grid;
      flex-grow: 1;

      .text {
        display: flex;
        grid-template-columns: auto 1fr;
        gap: var(--gap_xs);
        align-items: baseline;

        .label {
          font-weight: bold;
          white-space: nowrap;
          grid-column: 1;
        }

        .content {
          grid-column: 2;
        }
      }
    }
  }
}

.card-container:hover {
  animation: pulse 1.5s ease-in-out;;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}
.card-container p, .card-container span {
  word-break: break-word;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
