.title {
  color: var(--color_primary);
  font-weight: bolder;
}

.dialog-layout {
  padding: var(--default_padding);
  display: flex;
  flex-direction: column;
  gap: var(--default_gap);
  min-width: 350px;
}

.buttons {
  align-self: end;
  display: flex;
  gap: var(--default_gap);
}
