@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

:root {
  --logo_path: "app/src/assets/images/logo.png";

  --navbar_height: 40px;
  --default_gap: 20px;
  --logo_height: 100px;

  // Colors
  --color_primary: #261957;
}