@if (isStandardInput()) {
<mat-form-field appearance="outline" style="width: 100%;">
  <mat-label>{{ field().label | translate }}</mat-label>
  <input matInput [type]="field().type" [formControl]="control()"
    [placeholder]="(field().placeholder | translate) || ''">

  @if (control().valid && control().value) {
  }

  @if (control().invalid && control().touched) {
  <mat-error>{{ field().errorText | translate }}</mat-error>
  }
</mat-form-field>
}

@if (isTextArea()) {
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ field().label | translate }}</mat-label>
    <textarea matInput
              [formControl]="control()"
              [placeholder]="(field().placeholder | translate) || ''"></textarea>

    @if (control()?.invalid && control()?.touched) {
      <mat-error>{{ field().errorText | translate }}</mat-error>
    }
  </mat-form-field>
}

@if (isSelection()) {
<mat-form-field appearance="outline" style="width: 100%;">
  <mat-label>{{ field().label | translate }}</mat-label>
  <mat-select [formControl]="control()">
    @for (option of field().options; track option.value) {
    <mat-option [value]="option.value">{{ option.label }}</mat-option>
    }
  </mat-select>

  @if (control().invalid && control().touched) {
  <mat-error>{{ field().errorText | translate }}</mat-error>
  }
</mat-form-field>
}
