:host ::ng-deep {
  .mat-mdc-form-field.full-width {
    width: 100%;
    margin-top: 15px;
    display: block;

    .mat-mdc-text-field-wrapper {
      min-height: 120px !important;
      align-items: flex-start !important;
      padding-top: 12px !important;
    }

    textarea.mat-mdc-input-element {
      resize: none !important;
      margin: 0 !important;
      padding: 10px 0 !important;
      position: relative !important;
      top: 0 !important;
    }

    .mdc-notched-outline__notch {
      border-right: none !important;
    }
  }
}
