.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: var(--navbar_height) 1fr var(--footer_height);
    grid-template-columns: 1fr;

    .header {
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 var(--default_gap);
        background: white;
        border-bottom: 1px solid var(--color_secondary);
        z-index: 10;

        .header-left {
            display: flex;
            align-items: center;
            gap: var(--default_gap);

            .logo {
                height: var(--logo_height);
                cursor: pointer;
            }
        }
    }

    .content {
      grid-row: 2;
      overflow-y: auto;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      overflow-x: hidden;
    }

    .footer {
        grid-row: 3;
        display: flex;
        justify-content: center;
        gap: var(--default_gap);
        align-items: center;
        background: white;
        border-top: 1px solid var(--color_secondary);
        font-size: smaller;
        color: var(--color_secondary);
    }
}

